/* General Responsive Settings */
:root {
  font-size: 14px;
  
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    font-size: 23px;
  }
}

body,
html,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Gallery Section */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.gallery-tile {
  flex: 1 1 calc(100% - 2rem); 
  max-width: calc(50% - 1rem); 
  margin: 0.5rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .gallery-tile {
    flex: 1 1 calc(33.333% - 1rem); 
  }
}

@media screen and (min-width: 1024px) {
  .gallery-tile {
    flex: 1 1 calc(25% - 1rem); 
  }
}

.gallery-tile img {
  width: 100%;
  height: auto;
  transition: transform 300ms ease-in-out, filter 300ms ease-in-out;
}

/* Image View Section */
.imageview-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100vh;
}

.imageview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .imageview {
    flex-direction: column;
    gap: 10px;
  }
}

.imageview-image {
  width: 90%;
  max-width: 400px;
  height: auto;
  box-shadow: 0 20px 40px -5px var(--transblack);
}

.imageview-info {
  max-width: 100%;
  text-align: center; 
}

@media screen and (min-width: 768px) {
  .imageview-info {
    max-width: 260px;
    text-align: right;
  }
}

.imageview-info h2,
.imageview-info h3 {
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .imageview-info h2 {
    font-size: 2rem;
  }
  .imageview-info h3 {
    font-size: 1.8rem;
  }
}


.imageview-info button {
  font-size: 1rem;
  top: -1em;
  right: -0.5em;
}

@media screen and (min-width: 768px) {
  .imageview-info button {
    font-size: 1.5rem;
    top: -2em;
    right: -1em;
  }
}
