.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 90%;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 1rem;
}

.grid-container a:visited {
  color: black;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.grid-item:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  transition: all 0.5s ease;
}

.grid-item:hover img {
  transform: scale(1.1);
}

.grid-item p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.grid-item:hover p {
  transform: translateY(0);
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid-item:nth-child(3n+1) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .grid-item:nth-child(3n+1) img {
    aspect-ratio: 16 / 9;
  }
}